<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>权限角色管理</title>

    <link rel="stylesheet" type="text/css" href="../../libs/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../../libs/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="../../libs/easyui/demo/demo.css">

    <script type="text/javascript" src="../../libs/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="../../libs/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../../libs/easyui/datagrid-cellediting.js"></script>
    <script type="text/javascript" src="../../libs/easyui/common-row-edit-toolbar.js"></script>
    <script type="text/javascript" src="../../libs/easyui/jquery.edatagrid.js"></script>
    <script type="text/javascript" src="../../libs/common.js"></script>
    <script type="text/javascript" src="../../libs/easyui/common-row-edit-toolbar.js"></script>

    <script type="text/javascript" src="permRole.js"></script>

</head>
<body class="easyui-layout">
<!--权限角色表格-->
<div data-options="region:'west',split:true" style="width: 500px;">
    <form id="tbPerm" style="padding: 5px;height:70px;">
        <input class="easyui-combobox" id="subSystemCode" name="subSystemCode" label="子系统"
               data-options="width:150,labelWidth:50,url:'../../rest/DpSubSystem/all?isAsc=true&column=id',valueField:'subSystemCode',textField:'subSystemName',method:'GET',onChange:DpRole.load"></input>
        <input class="easyui-textbox" type="text" id="roleName" name="roleName"
               data-options="width:240,labelWidth:70,labelAlign:'right',prompt:'角色名称',label:'角色名称'"/>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true"
           onclick="DpRole.load()">查找</a>
        <br>

        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true"
           onclick="appendItem('DpRoleGrid')">增加</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true"
           onclick="removeItem('DpRoleGrid')">Remove</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true"
           onclick="acceptItems('DpRoleGrid',DpRole.saveData)">Accept</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true"
           onclick="reject('DpRoleGrid')">Reject</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true"
           onclick="console.log(JSON.stringify(getChanges('DpRoleGrid')));">GetChanges</a>
    </form>

    <table id="DpRoleGrid" class="" title="角色" style="width:700px;height:auto">
        <thead>
        <tr>
            <th data-options="field:'id',width:50">ID</th>
            <th data-options="field:'roleName',width:200,align:'right',editor:'textbox'">角色名称</th>
        </tr>
        </thead>
    </table>
</div>
<!--权限和属性的tab -->
<div data-options="region:'center',split:true">
    <div class="easyui-layout" data-options="fit:true,border:false">
        <div data-options="region:'west',split:true,border:false" style="width:600px;">

            <div id="roleConfig" class="easyui-tabs" data-options="fit:true,tabPosition:'top'">
                <div title="角色权限设置" data-options="iconCls:'icon-reload',closable:true" style="display:none;">
                    <table id="DpSelectedPermGrid" title="已选权限组">
                        <thead>
                        <tr>
                            <th data-options="field:'id',width:50">ID</th>
                            <th data-options="field:'operationName',width:200,align:'right',editor:'textbox'">操作名称</th>
                            <th data-options="field:'permissionName',width:200,align:'right',editor:'textbox'">权限名称</th>
                        </tr>
                        </thead>
                    </table>
                    <div id="tbSelectedPerm" style="height:auto">
                        <button class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true"
                                onclick="DpRolePermissionWindow.openWindow()">编辑
                        </button>
                    </div>
                </div>
                <div title="角色属性设置" data-options="iconCls:'icon-reload',closable:true" style="display:none;">
                    <div class="easyui-layout" data-options="fit:true">
                        <div data-options="region:'west'" style="width: 300px;">
                            <form id="tbDpPermissionPropertyDefineGrid" style="padding: 5px;height:auto;">
                                <input class="easyui-textbox" type="text" id="operationIdentifier" name="operationIdentifier"
                                       data-options="width:240,labelWidth:60,labelAlign:'right',prompt:'操作编码',label:'操作编码'"/>
                            </form>

                            <table id="DpPermissionPropertyDefineGrid" class="easyui-datagrid" style="width:700px;height:auto">
                                <thead>
                                <tr>
                                    <th data-options="field:'id',width:40">ID</th>
                                    <th data-options="field:'propertyCode',width:120,align:'right'">属性代码</th>
                                    <th data-options="field:'propertyName',width:120,align:'right'">属性名称</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <div data-options="region:'center',split:true" style="width:400px;">
                            <table id="DpPermissionPropertyGrid" class="easyui-datagrid" title="权限属性值定义" style="width:700px;height:auto">
                                <thead>
                                <tr>
                                    <th data-options="field:'id',width:50">ID</th>
                                    <th data-options="field:'checked',checkbox:true"></th>
                                    <th data-options="field:'valueCode',width:200,align:'right',editor:'textbox'">属性值</th>
                                    <th data-options="field:'valueName',width:200,align:'right',editor:'textbox'">属性值含义</th>
                                </tr>
                                </thead>
                            </table>
                        </div>

                    </div>




                </div>
            </div>


        </div>

        <div data-options="region:'center'">

        </div>
    </div>
</div>

<div class="easyui-window" title="设置角色权限" style="width:1013px;height:600px" id="editRelationWindow"
     data-options="minimizable:false,maximizable:false,collapsible:false,resizable:false,closed:true,modal:true">
    <div class="easyui-layout" data-options="fit:true,border:false">
        <div data-options="region:'west',border:false" style="width:250px;">
            <div id="DpPermissionTb" style="height:auto">
                <input class="easyui-textbox" type="text" id="operationName" name="operationName"
                       data-options="width:190,labelWidth:0,labelAlign:'right',prompt:'操作名称',label:''"/>
                <button class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true"
                        onclick="DpRolePermissionWindow.operationTableSearch()"></button>
            </div>

            <table id="DpPermissionGrid" class="easyui-datagrid" title="数据权限"
                   data-options="toolbar:'#DpPermissionTb',fit:true">
                <thead>
                <tr>
                    <th data-options="field:'id',width:40">ID</th>
                    <th data-options="field:'operationName',width:200,align:'right'">操作名称</th>
                </tr>
                </thead>
            </table>
        </div>
        <div data-options="region:'center',border:false">

            <div class="easyui-layout" data-options="fit:true">
                <div data-options="region:'east',collapsible:false,border:false" style="width:270px;">
                    <ul id="right-list"></ul>
                </div>

                <div data-options="region:'west',collapsible:false,border:false" style="width:270px;">
                    <ul id="left-list"></ul>
                </div>

                <div data-options="region:'center',border:false" style="padding:7px;background:#eee">
                    <div class="easyui-panel" style="background:#eee;padding-top: 100px;" data-options="border:false,">
            <span class="easyui-linkbutton" data-options="size:'large',width:45"
                  onclick="transfer.switch('left')"> -> </span>
                        <br>
                        <br>
                        <br>
                        <span class="easyui-linkbutton" data-options="size:'large',width:45"
                              onclick="transfer.switch('right')"> <- </span>
                    </div>
                </div>
            </div>
        </div>
        <div data-options="region:'east',border:false" style="width:150px;">

        </div>
    </div>


</div>

</body>
</html>
﻿