<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>权限元数据管理</title>

    <link rel="stylesheet" type="text/css" href="../../libs/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../../libs/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="../../libs/easyui/demo/demo.css">

    <script type="text/javascript" src="../../libs/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="../../libs/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../../libs/easyui/datagrid-cellediting.js"></script>
    <script type="text/javascript" src="../../libs/easyui/common-row-edit-toolbar.js"></script>
    <script type="text/javascript" src="../../libs/easyui/jquery.edatagrid.js"></script>
    <script type="text/javascript" src="../../libs/common.js"></script>
    <script type="text/javascript" src="../../libs/easyui/common-row-edit-toolbar.js"></script>

    <script type="text/javascript" src="permMetaData.js"></script>

</head>
<body class="easyui-layout">
<div data-options="region:'west'" style="width: 800px;">
    <form id="tbPerm" style="padding: 5px;height:70px;">
        <input class="easyui-combobox" id="subSystemCode" name="subSystemCode" label="子系统" style="width:200px"
                data-options="url:'../../rest/DpSubSystem/all',valueField:'subSystemCode',textField:'subSystemName',method:'GET'"></input>
        <input class="easyui-textbox" type="text" id="operationName" name="operationName"
               data-options="width:240,labelWidth:60,labelAlign:'right',prompt:'操作名称',label:'操作名称'"/>
        <input class="easyui-textbox" type="text" id="operationIdentifier" name="operationIdentifier"
               data-options="width:240,labelWidth:60,labelAlign:'right',prompt:'操作编码',label:'操作编码'"/>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true"
           onclick="DpPermissionMetadata.load()">查找</a>

        <br>

        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true"
           onclick="appendItem('DpPermissionMetaDataGrid')">增加</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true"
           onclick="removeItem('DpPermissionMetaDataGrid')">Remove</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true"
           onclick="acceptItems('DpPermissionMetaDataGrid',DpPermissionMetadata.saveData)">Accept</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true"
           onclick="reject('DpPermissionMetaDataGrid')">Reject</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true"
           onclick="console.log(JSON.stringify(getChanges('DpPermissionMetaDataGrid')));">GetChanges</a>
    </form>

    <table id="DpPermissionMetaDataGrid" class="easyui-datagrid" title="数据操作元数据" style="width:700px;height:auto">
        <thead>
        <tr>
            <th data-options="field:'id',width:50">ID</th>
            <th data-options="field:'operationName',width:200,align:'right',editor:'textbox'">操作名称</th>
            <th data-options="field:'operationIdentifier',width:200,align:'right',editor:'textbox'">操作标识</th>
            <th data-options="field:'matchingMode',width:100,align:'right',
                                editor:{
                                    type:'combobox',
                                    options:{
                                        data:[{'text':'严格',value:'STRICT'},{'text':'宽松',value:'LENIENT'}]
                                    }
                                }">默认匹配模式
            </th>
            <th data-options="field:'applyMethod',width:100,
                                editor:{
                                    type:'combobox',
                                    options:{
                                        data:[{'text':'嵌入式',value:'EMBED'},{'text':'包装式',value:'WRAPPER'}]
                                    }
                                }">应用方式
            </th>
        </tr>
        </thead>
    </table>
</div>
<div data-options="region:'center',split:true" style="width:400px;">
    <table id="DpPermissionItemMetaDataGrid" class="easyui-datagrid" title="操作项元数据"
           style="width:700px;height:auto">
        <thead>
        <tr>
            <th data-options="field:'id',width:50">ID</th>
            <th data-options="field:'targetTableName',width:200,align:'right',editor:'textbox'">表名</th>
            <th data-options="field:'fieldName',width:200,align:'right',editor:'textbox'">字段名</th>
            <th data-options="field:'fieldDesc',width:200,align:'right',editor:'textbox'">字段描述</th>
            <th data-options="field:'fieldType',width:200,align:'right',
                            editor:{
                                type:'combobox',
                                options:{
                                    data:[{'text':'数字',value:'NUMBER'},{'text':'字符',value:'STRING'}]
                                }
                            }">字段类型
            </th>
        </tr>
        </thead>
    </table>

    <div id="tbItem" style="height:auto">
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true"
           onclick="appendItem('DpPermissionItemMetaDataGrid')">Append</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true"
           onclick="removeItem('DpPermissionItemMetaDataGrid')">Remove</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true"
           onclick="acceptItems('DpPermissionItemMetaDataGrid',DpPermissionItemMetadata.saveData)">Accept</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true"
           onclick="removeItem('DpPermissionItemMetaDataGrid')">Reject</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true"
           onclick="console.log(JSON.stringify(getChanges('DpPermissionItemMetaDataGrid')));">GetChanges</a>
    </div>
</div>

</body>
</html>
﻿