<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Row Editing in DataGrid - jQuery EasyUI Demo</title>

    <link rel="stylesheet" type="text/css" href="../../libs/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../../libs/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="../../libs/easyui/demo/demo.css">

    <script type="text/javascript" src="../../libs/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="../../libs/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../../libs/common.js"></script>
    <script type="text/javascript" src="../../libs/easyui/jquery.edatagrid.js"></script>
    <script type="text/javascript" src="../../libs/easyui/common-row-edit-toolbar.js"></script>

</head>
<body>
<table id="DpSubSystemGrid" class="easyui-datagrid" title="子系统维护" style="width:700px;height:auto">
    <thead>
    <tr>
        <th data-options="field:'id',width:80">ID</th>
        <th data-options="field:'subSystemCode',width:80,align:'right',editor:'textbox'">子系统编码</th>
        <th data-options="field:'subSystemName',width:80,align:'right',editor:'textbox'">子系统名称</th>
        <th data-options="field:'defaultMatchingMode',width:80,align:'right',
                            editor:{
                                type:'combobox',
                                options:{
                                    data:[{'text':'严格',value:'STRICT'},{'text':'宽松',value:'LENIENT'}]
                                }
                            }">默认匹配模式</th>
        <th data-options="field:'userInfoProvider',width:250,editor:'textbox'">USER INFO PROVIDER</th>
    </tr>
    </thead>
</table>

<div id="tb" style="height:35px;">
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="appendItem('DpSubSystemGrid')">增加</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true" onclick="removeItem('DpSubSystemGrid')">删除</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true" onclick="acceptItems('DpSubSystemGrid',SubSystem.saveData)">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true" onclick="reject('DpSubSystemGrid')">还原</a>
<!--    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" onclick="console.log(JSON.stringify(getChanges('DpSubSystemGrid')));">GetChanges</a>-->
</div>

<script type="text/javascript" src="subsystem.js"></script>
</body>
</html>
﻿