<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>权限管理</title>

    <link rel="stylesheet" type="text/css" href="../../libs/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../../libs/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="../../libs/easyui/demo/demo.css">

    <script type="text/javascript" src="../../libs/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="../../libs/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../../libs/easyui/datagrid-cellediting.js"></script>
    <script type="text/javascript" src="../../libs/easyui/common-row-edit-toolbar.js"></script>
    <script type="text/javascript" src="../../libs/easyui/jquery.edatagrid.js"></script>
    <script type="text/javascript" src="../../libs/common.js"></script>
    <script type="text/javascript" src="../../libs/easyui/common-row-edit-toolbar.js"></script>


</head>
<body>
<div id="tt" class="easyui-tabs" data-options="fit:true,tabPosition:'top'">
    <div title="子系统管理">
        <iframe src="../subsystem/subsystem.html" style="width: 100% ;height: 90%"></iframe>
    </div>
    <div title="元数据管理" data-options="closable:true" style="overflow:auto;padding:20px;display:none;">
        <iframe src="../permMetaData/permMetaData.html" style="width: 100% ;height: 90%"></iframe>
    </div>
    <div title="权限项目管理" data-options="iconCls:'icon-reload',closable:true" style="display:none;">
        <iframe src="../permData/permData.html" style="width: 100% ;height: 90%"></iframe>
    </div>
    <div title="权限属性定义" data-options="iconCls:'icon-reload',closable:true" style="display:none;">
        <iframe src="../permProp/permProp.html" style="width: 100% ;height: 90%"></iframe>
    </div>
    <div title="权限角色管理" data-options="iconCls:'icon-reload',closable:true" style="display:none;">
        <iframe src="../permRole/permRole.html" style="width: 100% ;height: 90%"></iframe>
    </div>
    <div title="用户角色维护" data-options="iconCls:'icon-reload',closable:true" style="display:none;">
        <iframe src="../userRole/userRole.html" style="width: 100% ;height: 90%"></iframe>
    </div>
</div>
</body>
</html>
﻿